<div class="col-12">
    <h2>Job List</h2>
    <ng-container *ngIf="jobList && jobList.length > 0; else noJobs" >
        @for(i of jobList; track i){
        <section >
          <div>
            <div>

            </div>
            <div>
                <h3>{{i.jobName}}</h3>
                <h5>{{i.company}}</h5>
                <div>
                    <span>{{i.location}}</span>
                    <span>{{i.jobType}}</span>
                </div>
            </div>
          </div>
          <div>
            <button (click)="navToDescription(i)">Apply now</button>
            <span>{{i.createdAt.split('T')[0]}}</span>
          </div>
        </section>
        }
    </ng-container>
    <ng-template #noJobs>
        <p>No jobs found.</p>
    </ng-template>
</div>