<div class="container">
   
        <div>
            <img src="assets/Home/sushruta-logo-1.png" class="logo" >
        </div>
        <div class="menu">
            <div class="menu-logo-div" (click)="show()"><img src="assets\Home\menu.png"></div>
                
                    <ul class="menu-bar" *ngIf=showMenu>
                        <li>Home</li>
                        <li>About</li>
                        <li>Services</li>
                        <li>Contact</li>
                    </ul>
                
        </div>
    <div class="slides-container">    
        <div class="wrapperrr">
                <div *ngFor="let ad of ads">
                    <div class="slidesss">
                        <img [src]="ad.src" class="slide-img">
                    </div>
                </div>
        </div>
    </div>

    <div class="doctor-details">
        <div>
            <div class="vertical-line"><h2 class="doc-title">Specialist Doctor</h2></div>
        </div>
        <div class="doc">
            <div class="doctor-img" >
                <img src="assets\slides\female-doctor-hospital.jpg" class="doc-image">
                   <h3>Dr.M.Anjali</h3>
            </div>
            <div class="doctor-img1" >
                <p>(MBBS, DNB (Obst & Gyn) Diploma in Reproductive Medicine Diploma Advanced ART (IIRRH))</p> 
            </div>
        </div>
    </div>
    <div>
        <span id="sub-tit">WELCOME TO SUSHRUTHA</span><br>
        <span id="sub-tit2">TEST TUBE BABY CENTRE</span>
        <p>Helmed by Dr.G.Bhargavi Reddy, our test tube baby centre is one of the finest centres in the Kurnool City. Our centre has a team of highly qualified, skilled and dedicated doctors. At Sushrutha Test Tube Baby Centre, We strive to provide the best personalised and advanced care at affordable rates.</p>
    </div>
    <div class="sub-container">
        <div class="content">
            <div class="appointment">
                <div class="img-container" (click)="navToAppointment()"><img src="assets\Home\calendar.png" class="imagess"></div>
                <div class="tittle" (click)="navToAppointment()"><span>Book Appointment</span></div>
            </div>
            <div class="Lab-test">
                <div class="img-container" (click)="navTodaysAppointment()"><img src="assets\Home\medical.png" class="imagess"></div>
                <div class="tittle" (click)="navTodaysAppointment()"><span>Appointment</span></div>
            </div>
            <div class="Lab-test">
                <div class="img-container" (click)="navToAbout()"><img src="assets\Home\medical.png" class="imagess"></div>
                <div class="tittle" (click)="navToAbout()"><span>About</span></div>
            </div>
            <div class="Lab-test">
                <div class="img-container"><img src="assets\Home\medical.png" class="imagess"></div>
                <div class="tittle"><span>Location</span></div>
            </div>
        </div>
    </div>
    <br><br>
    <div style="height: 50px;"></div>
</div>
<br>
